* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif; 
}  
.poppins-extralight { 
  font-family: "Poppins", sans-serif; 
  font-weight: 200; 
  font-style: normal; 
} 
 
.poppins-light { 
  font-family: "Poppins", sans-serif; 
  font-weight: 300; 
  font-style: normal; 
} 
 
.poppins-regular { 
  font-family: "Poppins", sans-serif; 
  font-weight: 400; 
  font-style: normal; 
} 
 
.poppins-medium { 
  font-family: "Poppins", sans-serif; 
  font-weight: 500; 
  font-style: normal; 
} 
 
.poppins-semibold { 
  font-family: "Poppins", sans-serif; 
  font-weight: 600; 
  font-style: normal; 
} 
 
.poppins-bold { 
  font-family: "Poppins", sans-serif; 
  font-weight: 700; 
  font-style: normal; 
} 
 
  
body{  
  min-height: 100vh;  
  font-family: fantasy;  
}  
  
nav{
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); 
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
nav a:hover{
  color: rgb(75, 138, 221);
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: black;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 450px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: rgba(97, 134, 167, 0.383); 
    backdrop-filter: blur(8px);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}


.illustration {  
  display: flex;   
  justify-content: flex-end;   
}  
  
.illustration img {  
  width: 70%;  
  max-width: 900px;  
  height: auto;  
}  
  
.intro {  
  text-align: center;   
  margin: 20px;   
  max-width: 400px;   
}  
  
.intro h1 {  
  font-size: 36px;  
  font-weight: bold;  
  margin: 10px 0;   
}  
  
.intro p {  
  font-size: 24px;   
  margin: 10px 0;   
}  
  
.intro button {  
  padding: 10px 20px;   
  margin: 10px 0;   
  font-size: 16px;   
  cursor: pointer;   
  border: none;  
  border-radius: 8px;   
  background-color: #b5e8ed;   
  color: rgb(2, 1, 1);   
  transition: background-color 0.3s; 
}  
  
.intro button:hover {  
  background-color: #ed58e3;  
  color: aliceblue;  
}  
  
.intro .greeting {  
  font-size: 16px;  
  margin: 10px 0;   
}  
  
.hero {  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  padding: 100px;  
}  
.content {  
  width: 500px;  
  height: auto;  
}  
.about {  
  display: flex;  
  flex-direction: row;  
  align-items: center;  
  justify-content: space-around;  
}  
  
.about h2 {  
  font-size: 40px;  
  font-weight: 10;  
  margin: 10px 0;  
}  
  
.about p {  
  color: rgba(0, 0, 0, 0.7);   
  text-transform: lowercase;  
  margin: 10px 0;  
   
}  
  
.about button {  
  padding: 10px 20px;  
  margin: 10px 0;  
  font-size: 16px;  
  cursor: pointer;   
  border: none;   
  border-radius: 5px;   
  background-color: #b5e8ed;   
  color: black;  
  transition: background-color 0.3s;  
}  
  
.about button:hover {  
  background-color: #ed58e3;  
  color: white;   
}  
  
  
.newillust {  
  flex: 0 0 auto;  
  margin-right: 20px;  
}  
  
.newillust img {  
  width: 500px;   
  height: auto;   
  margin-right: 20px;   
  border-radius: 20px;}  
 
  .about {  
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;  
  }  
    
  .experience {  
    flex-basis: 100%;  
} 
 
  
services {
  padding: 6rem 2rem;
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 2rem;
}

.services p {
  color: var(--text-light);
  margin-bottom: 4rem;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  max-width: 280px;
  background-color: #e8e7f4;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s;
}

.service-card img {
  width: 80px;
  margin-bottom: 1rem;
}

.service-card h3 {
  font-size: 1.25rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.service-card p {
  color: var(--text-light);
}

.service-card:hover {
  transform: translateY(-10px);
}