* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif; 
}  
.poppins-extralight { 
  font-family: "Poppins", sans-serif; 
  font-weight: 200; 
  font-style: normal; 
} 
 
.poppins-light { 
  font-family: "Poppins", sans-serif; 
  font-weight: 300; 
  font-style: normal; 
} 
 
.poppins-regular { 
  font-family: "Poppins", sans-serif; 
  font-weight: 400; 
  font-style: normal; 
} 
 
.poppins-medium { 
  font-family: "Poppins", sans-serif; 
  font-weight: 500; 
  font-style: normal; 
} 
 
.poppins-semibold { 
  font-family: "Poppins", sans-serif; 
  font-weight: 600; 
  font-style: normal; 
} 
 
.poppins-bold { 
  font-family: "Poppins", sans-serif; 
  font-weight: 700; 
  font-style: normal; 
} 
 
  
body{  
  min-height: 100vh;  
  font-family: fantasy;  
}  
  
nav {  
  background-color: white;  
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);  
}  
  
nav ul {  
  width: 100%;  
  list-style: none;  
  display: flex;  
  justify-content: flex-end;  
  align-items: center;  
}  
  
nav li {  
  height: 50px;  
}  
  
nav a  {  
  height: 100%;  
  padding: 0 30px;  
  text-decoration: none;  
  display: flex;  
  align-items: center;  
  color: black;  
}  
  
nav a:hover{  
  border: #f0f0f0;  
}  
  
nav li:first-child{  
  margin-right: auto;  
}  
  
nav ul li a:hover {  
  color: #4198d2;   
} 

nav ul li a.active {
  background-color: #4198d2;
  color: #fff;
}

.sidebar{ 
position: fixed; 
top: 0; 
right: 0; 
height:100vh; 
width: 250px; 
z-index: 999; 
background-color: rgba(255, 255, 255, 0.282); 
backdrop-filter: blur(8px); 
box-shadow: -10px 0 10px rgba(0,0,0,0.1); 
display: none; 
flex-direction: column; 
align-items: flex-start; 
justify-content: flex-start; 
} 

.sidebar li { 
width: 100%; 
} 

.sidebar a{ 
width: 100%; 
} 

@media (max-width: 800px){ 
.hideOnMobile{ 
  display: none; 
} 
} 

@media(max-width: 400px){ 
.sidebar{ 
  width:100% 
} 
}
  
.illustration {  
  display: flex;   
  justify-content: flex-end;   
}  
  
.illustration img {  
  width: 70%;  
  max-width: 900px;  
  height: auto;  
}  
  
.intro {  
  text-align: center;   
  margin: 20px;   
  max-width: 400px;   
}  
  
.intro h1 {  
  font-size: 36px;  
  font-weight: bold;  
  margin: 10px 0;   
}  
  
.intro p {  
  font-size: 24px;   
  margin: 10px 0;   
}  
  
.intro button {  
  padding: 10px 20px;   
  margin: 10px 0;   
  font-size: 16px;   
  cursor: pointer;   
  border: none;  
  border-radius: 8px;   
  background-color: #b5e8ed;   
  color: rgb(2, 1, 1);   
  transition: background-color 0.3s; 
}  
  
.intro button:hover {  
  background-color: #ed58e3;  
  color: aliceblue;  
}  
  
.intro .greeting {  
  font-size: 16px;  
  margin: 10px 0;   
}  
  
.hero {  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  padding: 100px;  
}  
.content {  
  width: 500px;  
  height: auto;  
}  
.about {  
  display: flex;  
  flex-direction: row;  
  align-items: center;  
  justify-content: space-around;  
}  
  
.about h2 {  
  font-size: 40px;  
  font-weight: 10;  
  margin: 10px 0;  
}  
  
.about p {  
  color: rgba(0, 0, 0, 0.7);   
  text-transform: lowercase;  
  margin: 10px 0;  
   
}  
  
.about button {  
  padding: 10px 20px;  
  margin: 10px 0;  
  font-size: 16px;  
  cursor: pointer;   
  border: none;   
  border-radius: 5px;   
  background-color: #b5e8ed;   
  color: black;  
  transition: background-color 0.3s;  
}  
  
.about button:hover {  
  background-color: #ed58e3;  
  color: white;   
}  
  
  
.newillust {  
  flex: 0 0 auto;  
  margin-right: 20px;  
}  
  
.newillust img {  
  width: 500px;   
  height: auto;   
  margin-right: 20px;   
  border-radius: 20px;}  
 
  .about {  
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;  
  }  
    
  .experience {  
    flex-basis: 100%;  
} 
 
  
.services {  
  padding: 50px;  
  background-color: #fff;  
  text-align: center;  
}  
  
.services h2 {  
  font-size: 32px;  
  margin-bottom: 20px;  
}  
  
.service-cards {  
  display: flex;   
  justify-content: space-around;   
  flex-wrap: wrap; /  
}  
  
.service-card {  
  background-color: #f4efef;  
  padding: 20px;  
  width: 200px;  
  text-align: center;  
  border-radius: 10px;  
  margin: 10px;   
}  
  
.service-card img {  
  max-width: 50px;  
  margin-bottom: 10px;  
}